# Use Clang to build, not gcc.
build --repo_env=CC=cc
build --repo_env=CXX=c++

# Use C++17 w/ libc++ (for std::string_view and more).
build --cxxopt=-std=c++17

# Use LLVM's more modern libc++ instead of GNU libstdc++
## BAZEL_CXXOPTS="-stdlib=libc++:-isystem$INSTALL_DIR/include" \
## BAZEL_LINKOPTS="-stdlib=libc++" \
## BAZEL_LINKLIBS="-L$INSTALL_DIR/lib:-Wl,-rpath,$INSTALL_DIR/lib:-lc++:-lm" \
## build --cxxopt=-isystem/usr/lib/llvm-12/include/c++/v1
# build --cxxopt=-stdlib=libc++
# build --cxxopt=-L/usr/lib/llvm-12/lib

# We need this to build Riegeli; see https://github.com/google/riegeli/issues/13
build --cxxopt=-fsized-deallocation

build -c fastbuild

## Make Python protos faster by backing them with C++ protos.
build --define=use_fast_cpp_protos=true

# # Use local Python3 install.
# build --python_path=/usr/local/bin/python3
