*.DS_Store
*.a
*.picklecache
*.py[cd]
*.pyd
taskfile.yaml
*.so
*.swp
*~
.cache
.idea
.noseids
.pytest_cache/*
TAGS
cmake-build-debug/
bazel-*
beancount.egg-info
beancount/parser/grammar.output
beancount/parser/tokens_test
beancount/parser/*.o
build
dist
examples/generated/*
experiments/v3/arrow/*.feather
experiments/v3/arrow/*.parquet
experiments/v3/arrow/*.arrow


# Added by cargo

/target

taskfile.yaml
.task
prof/