# Redirect for external sites.

RedirectMatch /mailing-list$              https://groups.google.com/forum/#!forum/beancount
RedirectMatch /list                       /beancount/mailing-list

# Short redirect links for most of the documentation on Google Drive.

RedirectMatch /doc/index$                 https://docs.google.com/document/d/1RaondTJCS_IUPBHFNdT8oqFKJjVJDsfsn6JEjBG04eA/
RedirectMatch /doc/meta$                  /beancount/doc/index

RedirectMatch /doc/motivation$            https://docs.google.com/document/d/1e4Vz3wZB_8-ZcAwIFde8X5CjzKshE4-OXtVVHm4RQ8s/
RedirectMatch /doc/intro$                 /beancount/doc/motivation
RedirectMatch /doc/context$               /beancount/doc/motivation

RedirectMatch /doc/comparison$            https://docs.google.com/document/d/1dW2vIjaXVJAf9hr7GlZVe3fJOkM-MtlVjvCO1ZpNLmg/

RedirectMatch /doc/history$               https://docs.google.com/document/d/17wTH7aKnN_7-6nCxsOad6zIQfHwQgJUdI02RjzQuNi8/
RedirectMatch /doc/credits$               /beancount/doc/history

RedirectMatch /doc/double-entry$          https://docs.google.com/document/d/100tGcA4blh6KSXPRGCZpUlyxaRUwFHEvnz_k9DyZFn4/
RedirectMatch /doc/double_entry$          /beancount/doc/double-entry
RedirectMatch /doc/doubleentry$           /beancount/doc/double-entry
RedirectMatch /doc/double$                /beancount/doc/double-entry
RedirectMatch /doc/de-method$             /beancount/doc/double-entry

RedirectMatch /doc/equity$                https://docs.google.com/document/d/1H6C4YNPSe8GvC9Pe4Mp84q7ErPwI2AlZrFfKuNq-TG4/
RedirectMatch /doc/using-equity           /beancount/doc/equity

RedirectMatch /doc/install$               https://docs.google.com/document/d/1FqyrTPwiHVLyncWTf3v5TcooCu9z5JRX8Nm41lVZi0U/

RedirectMatch /doc/getting-started$       https://docs.google.com/document/d/1P5At-z1sP8rgwYLHso5sEy3u4rMnIUDDgob9Y_BYuWE/

RedirectMatch /doc/tools$                 https://docs.google.com/document/d/1e44jtLyVRl2H2Pj4K3WUc66otAlTOFOc90-tsrFEQdo/
RedirectMatch /doc/invocation$            /beancount/doc/tools
RedirectMatch /doc/run$                   /beancount/doc/tools
RedirectMatch /doc/running$               /beancount/doc/tools

RedirectMatch /doc/syntax$                https://docs.google.com/document/d/1wAMVrKIA2qtRGmoVDSUBJGmYZSygUaR0uOMW1GV3YE0/
RedirectMatch /doc/language$              /beancount/doc/syntax
RedirectMatch /doc/language-syntax$       /beancount/doc/syntax
RedirectMatch /doc/directives$            /beancount/doc/syntax
RedirectMatch /doc/users-manual$          /beancount/doc/syntax
RedirectMatch /doc/manual$                /beancount/doc/syntax

RedirectMatch /doc/options$		  https://docs.google.com/document/d/18OtTy8nnqoI8P988tVdv46ZcNoDsVGQ0ydGoA8dHC-c/

RedirectMatch /doc/query$                 https://docs.google.com/document/d/1s0GOZMcrKKCLlP29MD7kHO4L88evrwWdIO0p4EwRBE0/
RedirectMatch /doc/query-language$        /beancount/doc/query
RedirectMatch /doc/sql$                   /beancount/doc/query
RedirectMatch /doc/bql$                   /beancount/doc/query

RedirectMatch /doc/cookbook$              https://docs.google.com/document/d/1Tss0IEzEyAPuKSGeNsfNgb0BfiW2ZHyP5nCFBW1uWlk/
RedirectMatch /doc/examples$              /beancount/doc/cookbook

RedirectMatch /doc/scripting$             https://docs.google.com/document/d/1QftxNvQPdH-MikMBHupftU6F4IsNZP5FlFh1LCbVgk8/
RedirectMatch /doc/scripts$               /beancount/doc/scripting
RedirectMatch /doc/plugins$               /beancount/doc/scripting

RedirectMatch /doc/trading$               https://docs.google.com/document/d/1WjARst_cSxNE-Lq6JnJ5CC41T3WndEsiMw4d46r2694/
RedirectMatch /doc/stock$                 /beancount/doc/trading
RedirectMatch /doc/stocks$                /beancount/doc/trading
RedirectMatch /doc/pnl$                   /beancount/doc/trading

RedirectMatch /doc/export$                https://docs.google.com/document/d/1eZIDRmQZxR6cmDyOJf7U3BnCm4PDMah2twxYFfKPJtM/
RedirectMatch /doc/exporting              /beancount/doc/export

RedirectMatch /doc/payee                  https://docs.google.com/document/d/17_u_cYxeXVsCV4GmaubK_xsTQl_H9rP87E_vnZHKNb0/
RedirectMatch /doc/subaccount             /beancount/doc/payee

RedirectMatch /doc/booking$               https://docs.google.com/document/d/11a9bIoNuxpSOth3fmfuIFzlZtpTJbvw-bPaQCnezQJs/
RedirectMatch /doc/inventories$           /beancount/doc/booking
RedirectMatch /doc/inventory$             /beancount/doc/booking
RedirectMatch /doc/how-inventories-work   /beancount/doc/booking

RedirectMatch /doc/cheatsheet$            https://docs.google.com/document/d/1M4GwF6BkcXyVVvj4yXBJMX7YFXpxlxo95W6CpU3uWVc/
RedirectMatch /doc/cheat$                 /beancount/doc/cheatsheet
RedirectMatch /doc/sheet$                 /beancount/doc/cheatsheet
RedirectMatch /doc/reference$             /beancount/doc/cheatsheet

RedirectMatch /doc/cheatsheet-old$        http://furius.ca/beancount/doc/cheatsheet/beancount-cheatsheet.pdf
RedirectMatch /doc/old$-cheatsheet        /beancount/doc/cheatsheet-old


RedirectMatch /doc/design-doc$            https://docs.google.com/document/d/1N7HDXuNWgLG2PqFS4Kkgv5LzAAtU6c97UVNT7tdTIjA/
RedirectMatch /doc/design$                /beancount/doc/design-doc
RedirectMatch /doc/devel-doc$             /beancount/doc/design-doc
RedirectMatch /doc/devel$                 /beancount/doc/design-doc

RedirectMatch /doc/converting$            https://docs.google.com/document/d/1tkoUeSfZyEhEGdXHwYp5vBrSrNDgC4FVXhReSWsILlw/
RedirectMatch /doc/convert$		  /beancount/doc/converting
RedirectMatch /doc/ledger$		  /beancount/doc/converting

RedirectMatch /doc/conversions$           https://docs.google.com/document/d/1rW7zQyMiv8hKZ0993pwQiu5vTxzEOQf_Q67GvVk6zu0/

RedirectMatch /doc/example$               https://docs.google.com/document/d/1G-gsmwK551lSyuHboVLW3xbLhh99JfoKIbNnZSJxteE/
RedirectMatch /doc/tutorial$              /beancount/doc/example

RedirectMatch /doc/custom-application$    https://docs.google.com/document/d/1SnR7BdE2VXFTMEvnkhAd9PwXu_AxytTYpiS1LjXdP0E/
RedirectMatch /doc/custom$                /beancount/doc/custom-application
RedirectMatch /doc/application$           /beancount/doc/custom-application

RedirectMatch /doc/returns$               https://docs.google.com/document/d/1vEFB44-HFqydYVJXA-QxT4AN0K5xHHfSkhTmRSCPkac/
RedirectMatch /doc/portfolio-returns$     /beancount/doc/portfolio-returns
RedirectMatch /doc/calculating-returns$   /beancount/doc/portfolio-returns

RedirectMatch /doc/proposal-booking$      https://docs.google.com/document/d/1F8IJ_7fMHZ75XFPocMokLxVZczAhrBRBVN9uMhQFCZ4/
RedirectMatch /doc/proposal-inventory$    /beancount/doc/proposal-booking

RedirectMatch /doc/tolerances$            https://docs.google.com/document/d/1lgHxUUEY-UVEgoF6cupz2f_7v7vEF7fiJyiSlYYlhOo/
RedirectMatch /doc/precision$             /beancount/doc/tolerances
RedirectMatch /doc/rounding$              /beancount/doc/tolerances

RedirectMatch /doc/sharing$               https://docs.google.com/document/d/1FRcJqUfeAMQO6KjG94w6rF7VajMGJaFplmF1Wu0rCHY/
RedirectMatch /doc/share                  /beancount/doc/sharing
RedirectMatch /doc/splitting              /beancount/doc/sharing
RedirectMatch /doc/split                  /beancount/doc/sharing

RedirectMatch /doc/proposal-rounding$     https://docs.google.com/document/d/1MY2JMiiXUmcwsOT0CkiK-fCo0ZE7nbr8uTcTL50b6X4/
RedirectMatch /doc/proposal-residual$     /beancount/doc/proposal-rounding
RedirectMatch /doc/proposal-precision$    /beancount/doc/proposal-rounding

RedirectMatch /doc/proposal-filtering$    https://docs.google.com/document/d/1d88MkHqxiVdF8XSQBT1QQpOKEOt6OC1P9ZoF3u86DwI/
RedirectMatch /doc/proposal-filter$       /beancount/doc/proposal-filtering
RedirectMatch /doc/proposal-filters$      /beancount/doc/proposal-filtering
RedirectMatch /doc/proposal-views$        /beancount/doc/proposal-filtering
RedirectMatch /doc/proposal-query$        /beancount/doc/proposal-filtering

RedirectMatch /doc/proposal-dates$        https://docs.google.com/document/d/1x0qqWGRHi02ef-FtUW172SHkdJ8quOZD-Xli7r4Nl_k/
RedirectMatch /doc/proposal-settlement$   /beancount/doc/proposal-dates

RedirectMatch /doc/proposal-balance$      https://docs.google.com/document/d/1vyemZFox47IZjuBrT2RjhSHZyTgloYOUeJb73RxMRD0/
RedirectMatch /doc/proposal-assertions$   /beancount/doc/proposal-balance

RedirectMatch /doc/proposal-budget$       https://docs.google.com/document/d/12BVfdhnHy1Ruqyyu3JGf3OdWrpXFKB2zFyHFrznwuOU/
RedirectMatch /doc/proposal-budgeting$    /beancount/doc/proposal-budget
RedirectMatch /doc/proposal-forecast$     /beancount/doc/proposal-budget

RedirectMatch /doc/proposal-padding$      https://docs.google.com/document/d/1rZW3Hz5oJw1x9AwbcBj6uw5FabCHqubiIvaHwAjmCvk/
RedirectMatch /doc/proposal-pad$          /beancount/doc/proposal-padding

RedirectMatch /doc/proposal-mirror$       https://docs.google.com/document/d/1dhz-_Of-hdubafHg-OESEMdMG_-fJqw4P4KcJsKPqk0/
RedirectMatch /doc/mirror$      	  /beancount/doc/proposal-mirror

RedirectMatch /doc/proposal-inter$        https://docs.google.com/document/d/12YyAqfGygzCGMZsbsO3ZpUK08j6rUCQvB2Je9c42oqc/
RedirectMatch /doc/inter-account$      	  /beancount/doc/proposal-inter

RedirectMatch /doc/proposal-funds$        https://docs.google.com/document/d/1nf_yCiLuewVCEjkXq9Kd9SqbZGWqcs0v0pT5xQnkyzs/
RedirectMatch /doc/fund$	    	  /beancount/doc/proposal-funds
RedirectMatch /doc/fund-accounting$    	  /beancount/doc/proposal-funds

RedirectMatch /doc/bug-negative-prices 	  https://groups.google.com/forum/#!topic/beancount/2Y7EWFUA3OA
