[MASTER]
ignore=
  BUILD
persistent=yes
load-plugins=pylint_protobuf

[REPORTS]
output-format=text
files-output=no
reports=no

[MESSAGES CONTROL]
enable=all
disable=locally-disabled,
  suppressed-message,
  missing-docstring,
  too-many-lines,
  multiple-statements,
  superfluous-parens,
  ungrouped-imports,
  wrong-import-position,
  no-self-argument,
  no-member,
  no-value-for-parameter,
  too-many-function-args,
  unsubscriptable-object,
  too-many-nested-blocks,
  no-self-use,
  redefined-variable-type,
  duplicate-code,
  too-few-public-methods,
  too-many-public-methods,
  too-many-branches,
  too-many-arguments,
  too-many-locals,
  too-many-statements,
  attribute-defined-outside-init,
  protected-access,
  arguments-differ,
  abstract-method,
  fixme,
  global-variable-undefined,
  global-statement,
  unused-variable,
  unused-argument,
  redefined-outer-name,
  redefined-builtin,
  undefined-loop-variable,
  broad-except,
  logging-format-interpolation,
  anomalous-backslash-in-string,
  len-as-condition,
  no-else-return,
  invalid-unary-operand-type,
  no-name-in-module,
  inconsistent-return-statements,
  not-callable,
  stop-iteration-return,
  assignment-from-no-return,
  c-extension-no-member,
  cyclic-import,
  isinstance-second-argument-not-valid-type,
  bad-continuation,
  inherit-non-class,
  consider-using-with,
  unspecified-encoding

[BASIC]
good-names=f,i,j,k,ex,_
argument-rgx=(_?[a-z_][a-z0-9_]{1,30}|__|mu)$
attr-rgx=[a-z_][a-z0-9_]{1,30}$
function-rgx=_?[a-z_][a-zA-Z0-9_]{2,64}$
method-rgx=[a-z_][a-zA-Z0-9_]{2,72}$
module-rgx=(([a-z_][a-z0-9_\-]*)|([A-Z][a-zA-Z0-9]+))$
variable-rgx=(_?[a-z_][a-z0-9_]{1,30}|__|mu|no)$

[FORMAT]
max-line-length=92
