name: upload-wheel
on:
  push:
    tags:
      - '2.[0-9]+.[0-9]+'
  workflow_dispatch:
    inputs:
      tag:
        required: true
        description: 'Release tag'
jobs:
  build-and-upload:
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        python: ['3.6', '3.7', '3.8', '3.9', '3.10', '3.11']
        os: [windows, macos]
    env:
      # The newly pushed tag or the tag specified in the workflow dispatch.
      TAG: ${{ github.event.push.tag || github.event.inputs.tag }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ env.TAG }}
      - run: git describe --tags
      - run: |
          # Check that release tag and package version agree.
          import os, sys
          tag = os.getenv('TAG')
          print(f'git tag: {tag}')
          version = open('beancount/VERSION').read().strip()
          print(f'package version: {version}')
          if tag != version:
              sys.exit(1)
        shell: python
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - run: python -m pip install wheel twine
      - run: python setup.py bdist_wheel
      - run: twine upload dist/beancount-$TAG-*.whl
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
