name: wheels
on:
  - push

# Temporarily removed.
#  push:
#    tags:
#      - '*'


jobs:
  wheels:
    name: Build wheels
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu
          - os: macos
          - os: windows
            architecture: AMD64
          - os: windows
            architecture: x86
        python: ["cp312"]

    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64
        if: runner.os == 'Linux'
      - uses: bus1/cabuild/action/msdevshell@v1
        with:
          architecture: x64
        if: runner.os == 'Windows' && matrix.architecture == 'AMD64'
      - uses: bus1/cabuild/action/msdevshell@v1
        with:
          architecture: x86
        if: runner.os == 'Windows' && matrix.architecture == 'x86'
      - run: pipx run cibuildwheel==2.15.0
        env:
          CIBW_SKIP: pp* cp36-* cp37-* *-musllinux*
          CIBW_ARCHS_MACOS: x86_64 arm64
          CIBW_ARCHS_LINUX: x86_64 aarch64
          CIBW_ARCHS_WINDOWS: ${{ matrix.architecture }}
      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}}
          path: wheelhouse/*.whl

  sdist:
    name: Builds source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: python -m pip install build
      - run: python -m build --sdist
      - uses: actions/upload-artifact@v4
        with:
          name: source
          path: dist/*.tar.gz

  upload:
    name: Upload wheels to PyPI
    needs:
      - wheels
      - sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: dist
      - name: Display structure of downloaded files
        run: find . -type f -ls
      - run: python -m pip install twine
      - run: python -m twine upload dist/*/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI }}
