name: wheels
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:
  pull_request:
    # trigger on self change to validation config
    paths:
      - .github/workflows/wheels.yaml

jobs:
  sdist:
    name: Build source distribution
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Build sdist
        uses: PyO3/maturin-action@v1
        with:
          command: sdist
          args: --out dist
      - uses: actions/upload-artifact@v4
        with:
          name: wheels-sdist
          path: dist

  wheels:
    name: Build wheels
    runs-on: ${{ matrix.platform.runner }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          - runner: ubuntu-24.04
            target: x86_64
          - runner: ubuntu-24.04-arm
            target: aarch64
          - runner: macos-14
            target: aarch64
            py-arch: arm64
          - runner: macos-15-intel
            target: x86_64
            py-arch: x64
          - runner: windows-latest
            target: x64
            py-arch: x64
          - runner: windows-latest
            target: x86
            py-arch: x86
    steps:
      - uses: actions/checkout@v4

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        if: ${{ runner.os != 'Linux' }}

      - uses: actions/setup-python@v5
        if: ${{ runner.os != 'Linux' }}
        with:
          python-version: "3.13"
          architecture: ${{ matrix.platform['py-arch'] || 'x64' }}

      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.platform.target }}
          args: --release --out dist
          sccache: true
          manylinux: auto

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ runner.os }}-${{ matrix.platform.target }}
          path: dist

  upload:
    name: Upload to PyPI
    needs:
      - wheels
      - sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          merge-multiple: true
          path: dist
      - run: python -m pip install twine
      - run: python -m twine upload --skip-existing dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
