name: wheels
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

  pull_request:
    # trigger on self change to validation config
    paths:
      - .github/workflows/wheels.yaml

jobs:
  wheels:
    name: Build wheels
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            architecture: x86_64
          - os: ubuntu-24.04-arm
            architecture: aarch64
          - os: macos-15-intel
            architecture: x86_64
          - os: macos-15
            architecture: arm64
          - os: windows-latest
            architecture: AMD64
          - os: windows-latest
            architecture: x86
          - os: windows-latest
            architecture: ARM64
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          # install a new python so we can use new version of cibuildwheel
          python-version: '3.14'

      - uses: bus1/cabuild/action/msdevshell@v1
        with:
          architecture: x64
        if: runner.os == 'Windows' && matrix.architecture == 'AMD64'
      - uses: bus1/cabuild/action/msdevshell@v1
        with:
          architecture: x86
        if: runner.os == 'Windows' && matrix.architecture == 'x86'


      - run: pip install cibuildwheel~=3.3.0

      - run: cibuildwheel
        env:
          CIBW_SKIP: '*-musllinux*'
          CIBW_ARCHS: ${{ matrix.architecture }}
          CIBW_BEFORE_ALL_LINUX: |
            curl -sSfO https://ftp.gnu.org/gnu/bison/bison-3.8.2.tar.xz
            tar xJf bison-3.8.2.tar.xz
            cd bison-3.8.2 && ./configure && make && make install
            curl -sSfLO https://github.com/westes/flex/releases/download/v2.6.4/flex-2.6.4.tar.gz
            tar xzf flex-2.6.4.tar.gz
            cd flex-2.6.4 && ./configure CFLAGS="-D_GNU_SOURCE" && make && make install
          CIBW_ENVIRONMENT_MACOS: |
            PATH="/usr/local/opt/bison/bin:/opt/homebrew/opt/bison/bin:$PATH"
          CIBW_BEFORE_ALL_MACOS: |
            brew install bison
          CIBW_ENVIRONMENT_WINDOWS: |
            PATH="$PATH;C:/msys64/usr/bin"
          CIBW_BEFORE_ALL_WINDOWS: |
            pacman --noconfirm -S bison flex

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ runner.os }}-${{ matrix.architecture }}
          path: wheelhouse/*.whl

  sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: python -m pip install build
      - run: python -m build --sdist
      - uses: actions/upload-artifact@v4
        with:
          name: source
          path: dist/*.tar.gz

  upload:
    name: Upload to PyPI
    # only push to pypi on new tag
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    needs:
      - wheels
      - sdist
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          merge-multiple: true
          path: dist
      - run: python -m pip install twine
      - run: python -m twine upload --skip-existing dist/*
