name: wheels
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

  pull_request:
    # trigger on self change to validation config
    paths:
      - .github/workflows/wheels.yaml

jobs:
  wheels:
    name: Build wheels
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            architecture: x86_64
          - os: ubuntu-24.04-arm
            architecture: aarch64
          - os: macos-15-intel
            architecture: x86_64
          - os: macos-15
            architecture: arm64
          - os: windows-latest
            architecture: AMD64
          - os: windows-latest
            architecture: x86
          - os: windows-latest
            architecture: ARM64
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          # install a new python so we can use new version of cibuildwheel
          python-version: '3.14'

      - uses: bus1/cabuild/action/msdevshell@v1
        with:
          architecture: x64
        if: runner.os == 'Windows' && matrix.architecture == 'AMD64'
      - uses: bus1/cabuild/action/msdevshell@v1
        with:
          architecture: x86
        if: runner.os == 'Windows' && matrix.architecture == 'x86'


      - run: pip install cibuildwheel~=3.3.0

      - run: cibuildwheel
        env:
          CIBW_SKIP: '*-musllinux*'
          CIBW_ARCHS: ${{ matrix.architecture }}

      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ runner.os }}-${{ matrix.architecture }}
          path: wheelhouse/*.whl

  sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: python -m pip install build
      - run: python -m build --sdist
      - uses: actions/upload-artifact@v4
        with:
          name: source
          path: dist/*.tar.gz

  upload:
    name: Upload to PyPI
    # only push to pypi on new tag
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    needs:
      - wheels
      - sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          merge-multiple: true
          path: dist
      - run: python -m pip install twine
      - run: python -m twine upload --skip-existing dist/*
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
